/* Snippets */
.clearfix::before,
.clearfix::after {
	content: '';
	display: block;
	height: 0;
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

/* Main */
body {
	margin: 0;
	padding: 0;
	position: relative;
}

#screen {
	overflow: hidden;
	width: 940px;
	height: 650px;
	margin: 0 auto;
	position: relative;
}

#screen iframe {
	position: absolute;
	top: -400px;
	height: 1050px;
	width: 100%;
	box-sizing: border-box;
}

#buttons_wrap {
	position: relative;
	display: block;
	z-index: 100;
	width: 1040px;
	margin: 30px auto;
}

.button {
	display: inline-block;
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 18px;
	font-weight: 700;
	width: 150px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	border-radius: 10px;
	cursor: pointer;
	margin-right: 50px;
	margin-bottom: 20px;
	transition: all 0.2s ease-in-out;
	border: 2px solid transparent;
	position: relative;
}

.button::after {
	content: '';
	display: block;
	position: absolute;
	top: -2px;
	left: -2px;
	right: -2px;
	bottom: -2px;
	background-color: transparent;
	transition: all 0.15s ease-in-out;
	border-radius: 10px;
}

.button:hover::after {
	background-color: rgba(0, 0, 0, 0.5);
}

#buttons_wrap .button.active {
	border-color: #000;
	background-color: transparent;
	color: #000;
}

.button:nth-child(5n) {
	margin-right: 0;
}

#publika {
	color: #fff;
	background-color: #0086ff;
}

#jurnal_tv {
	background: #254a98;
	color: #fff;
}

#tv7 {
	background: #292669;
	color: #109447;
}

#busuioc {
	color: #ce1405;
	background: #ccc;
}

#realitate {
	background: #eeee00;
	color: #000;
}